<%- include("includes/head.ejs", {title:"All Member"}) %>
</head>

<body>
	<script src="//cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"> </script>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(document).ready( function () {
      $('#myTable').DataTable();
    } );
  </script>
	<table>
	<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
  <script type="text/javascript">
    $(document).ready( function () {
       $('#table_id').DataTable();
    } );
  </script>
		<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Id Anggota</th>
            <th>Nama</th>
            <th>Jenis Kelamin</th>
						<th>Tanggal Lahir</th>
            <th>Gejala</th>
            <th>Tindakan</th>
            <th>Resep Obat</th>
            <th>Tanggal Rekam</th>
        </tr>
    </thead>
    <tbody>
			<% for (const value of member) { %> 
        <tr>
            <td><%= value.id_anggota %> </td>
            <td><%= value.nama %> </td>
						<td><%= value.jenis_kelamin %> </td>
						<td><%= value.tanggal_lahir %> </td>
            <% if (value.RekamMedi) { %> 
            <td><%= value.RekamMedi.gejala %> </td>
            <td><%= value.RekamMedi.tindakan %> </td>
            <td><%= value.RekamMedi.resep_obat %> </td>
            <td><%= value.tanggal_rekam %> </td>
            <% } else { %> 
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <% } %> 
        </tr>
        <% } %> 
    </tbody>
</table>
	</table>
</body>

<%- include("includes/footer.ejs") %> 