<%- include("includes/head.ejs", {title:"All Member"}) %>
</head>

<body>
	<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
  <script type="text/javascript">
    $(document).ready( function () {
       $('#table_id').DataTable();
    } );
  </script>
	<table>
		<h1><%= nama %>'s Medical Record</h1>
		<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Id Rekam Medis</th>
            <th>Gejala</th>
            <th>Tindakan</th>
						<th>Resep Obat</th>
						<th>Tanggal Rekaman</th>
        </tr>
    </thead>
    <tbody>
			<% for (const value of medic) { %> 
        <tr>
            <td><a href="/medical-record/<%= value.id_rekam_medis%>"><%= value.id_rekam_medis%></a></td>
						<td><%= value.gejala %></td>
						<td><%= value.tindakan %></td>
						<td><%= value.resep_obat %></td>
						<td><%= value.tanggal_rekam %></td>
        </tr>
        <% } %> 
    </tbody>
  </table>

</body>

<%- include("includes/footer.ejs") %> 