<%- include("includes/head.ejs", {title:"All Member"}) %>
</head>

<body>
<h1>Bpjs Member Biodata</h1>
<div>
  <p>Id : <%= member.id_anggota %> </p>
</div>
<div>
  <p>Nama : <%= member.nama %> </p>
</div>
<div>
  <p>Jenis Kelamin : <%= member.jenis_kelamin %> </p>
</div>
<div>
  <p>Tanggal Lahir : <%= member.tanggal_lahir %> </p>
</div>
</body>

<%- include("includes/footer.ejs") %> 